* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
  height: 200px;
  width: 200px;
  overflow: scroll;
  background-color: purple;
}
.product-grid {
  display: flex;
  flex-direction: column;
}
.product-grid-image {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
.title {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  /**agregando transicion-> cuando cambia d un estado a otro/
  transition:*/
  transition: all linear 0.5s;
}
/*agregando dinamismo en css*/
.cualquier-nombre {
  opacity: 1;
}
.dinamic-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*ngClass and ngStyle*/
.valido {
  border-bottom: 1px solid green;
}
.invalido {
  border-bottom: 1px solid red;
}

.formulario {
  display: grid;
  padding: 10px;
  justify-items: center;
  grid-template-columns: repeat(1, 0.25fr);
  gap: 10px;
  justify-content: center;
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.input-group input {
  width: 100%;
  padding: 5px;
  background-color: rgba(246, 244, 244, 0.999);
  border-radius: 5px;
}
.input-group label {
  font-size: 16px;
  text-align: left;

}
.title-form {
  text-align: center;
  margin: 10px;
}
.input-group p {
  margin: 3px;
  text-align: left;
  font-style: italic;
  color: red;
}
.nombreValido {
  display: none;
}
.formulario button {
  margin: 15px;
  background-color: rgb(192, 231, 237);
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}
