.box {
  height: 200px;
  width: 200px;
  overflow: scroll;
  background-color: purple;
}
.product-grid {
  display:flex;
  flex-direction: column;

}
.product-grid-image {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}
.title{
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
